header .subscribe input {
    background: #6d737f;
}

header .overlay {
    background-color: #1c1e22;
}

section .feature-items .feature-item .feature-item-title {
    color: #606060;
}

section .team-members .team-member-info {
    color: #6d737f;
    background: rgb(43, 45, 48);
}

section h2 {
    color: #606060;
}

section {
    color: #6d737f;
    background-color: #F4F4F4;
}

section.bg {
    color: #606060;
}

section.gray {
    background-color: #17181a;
}

footer {
    background-color: #222222;
    color: #6d737f;
}

footer hr {
    background: #6d737f;
}

footer .social a {
    color: #6d737f;   
}

section .twitter ul li {
    background-color: #1c1e22;
}

.form-control {
    color: #606060;
    background: #6d737f;
    border-color: #6d737f;
}

.form-control::-webkit-input-placeholder {
    color: rgb(183, 190, 203);
}

.form-control::-moz-input-placeholder {
    color: rgb(183, 190, 203);
}